GCP_PROJECT_ID=your-gcp-project-ido
BQ_DATASET_ID=your_bq_dataset_id
GCS_BUCKET_NAME=finance-monitor-data
GCS_BUCKET_LOCATION="US-CENTRAL1" 
PORT=8080
LOG_LEVEL=info
IOL_USERNAME=your_iol_username
IOL_PASSWORD=your_iol_password
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_api_key
ALPHA_VANTAGE_API_URL="https://www.alphavantage.co/query"